name: CI

on: push

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
        gemfile:
          - rails6.1
          - rails7.0
          - rails7.1
          - rails7.2
          - rails8.0
          - rails_main
        include:
          - {ruby-version: '3.1', gemfile: rails6.1}
          - {ruby-version: '3.1', gemfile: rails7.0}
          - {ruby-version: '3.1', gemfile: rails7.1}
          - {ruby-version: '3.1', gemfile: rails7.2}
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Tests
        run: bundle exec rake test

  tests_successful:
    name: Tests passing?
    needs: tests
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.tests.result == 'success' }}
          then
            echo "All tests pass"
          else
            echo "Some tests failed"
            false
          fi

  linter:
    runs-on: ubuntu-latest
    name: Linting of Ruby files
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake standard
